/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    @include media-query($on-palm) {
      padding: 0px;
  }

}

.page-heading {
    font-size: 20px;
}


.line {
  p {
    margin-bottom: 0px;
  }
  &:hover {
    cursor: pointer;
  }
  margin-top: 5px;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  width: 65px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poiret One', Arial, sans-serif;
  font-size: 43px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  text-shadow: 1px 1px black;
}

.a-line {
  background-color: #00ACED;
}

.c-line {
  background-color: #DC8232;
}

.d-line {
  background-color: #006E3C;
}

.e-line {
  background-color: #552683;
}


.f-line {
  background-color: #EE3E33;
}

.h-line {
  background-color: #006DB2;
}

.w-line {
  background-color: #009DAA;
}

.active-line {
  border-radius: 10px;
  padding: 10px;
  font-size: 45px;
  margin-top: 20px;
  text-shadow: 1px 1px black;
  color: white;
  font-family: 'Poiret One', Arial, sans-serif;
}

.active-line-header {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0px;
}

.active-direction-header {
  font-size: 45px;
  display: inline-block;
  margin-left: 20px;
}

.active-day-header {
  font-size: 30px;
  display: inline-block;
  margin-left: 20px;
}

.direction-buttons {
  padding: 20px;
}

.north-button {
  width: 90%;
  display: block;
  margin: 20px auto;
  margin-top: 0px;
  padding: 45px 0px;
  border-radius: 10px;
  font-size: 0.7em;
  font-family: 'Poiret One', Arial, sans-serif;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.south-button {
  @extend .north-button;
}

.day-buttons {
  text-align:center;
}

.weekend-button {
  width: 46%;
  height: 300px;
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.7em;
  font-family: 'Poiret One', Arial, sans-serif;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.weekday-button {
  width: 46%;
  height: 300px;
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.7em;
  font-family: 'Poiret One', Arial, sans-serif;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}
